:root {
  --background: #f4f6f8;
  --text-color: #6e8098;
  --main-color: #5964e0;
  --main-hover: #939bf4;
  --secondary-color: #ffffff;
  --heading-text: #19202d;
}

:root .dark-theme {
  --background: #121721;
  --text-color: #9daec2;
  --secondary-color: #19202d;
  --heading-text: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--text-color);
  transition: all ease-in-out 0.3s;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
}

h1,
h2,
h3 {
  color: var(--heading-text);
}

h1 {
  font-size: 28px;
  line-height: 34px;
}

h2 {
  font-size: 24px;
  line-height: 29px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

/* utilities */

.hide {
  display: none;
}

.container {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.location {
  margin-top: 20px;
  color: var(--main-color);
}

.btn {
  color: #ffffff;
  background: var(--main-color);
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.padding-l {
  padding: 8px 0;
}
.padding-s {
  padding: 4px 0;
}

.margin-s {
  margin: 4px 0;
}
.margin-l {
  margin: 8px 0;
}

.btn:hover {
  background: var(--main-hover);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* navbar */

.navbar {
  background: url('./assets/desktop/bg-pattern-header.svg');
  height: 162px;
  margin-bottom: 20px;
}

.nav-flex {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
}
.mode {
  display: flex;
  align-items: center;
}
.mode img {
  width: 15px;
  height: 15px;
}

.logo {
  cursor: pointer;
}

.toggle-container {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
  pointer-events: none;
  margin: 0 8px;
}

.toggle-container input {
  opacity: 0;
  width: 100%;
  height: 100%;
  pointer-events: all;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #ffffff;
  transition: 0.4s;
  pointer-events: none;
}

.slider::before {
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  left: 8px;
  bottom: 4px;
  background-color: var(--main-color);
  transition: 0.2s;
  pointer-events: none;
}

.slider::after {
  position: absolute;
  content: '';
  height: 24px;
  width: 24px;
  right: 10px;
  bottom: 6px;
  transition: 0.2s;
  pointer-events: none;
  color: #fff;
}

.toggle-container input:checked + .slider:before {
  transform: translateX(20px);
}
.toggle-container input:checked + .slider:after {
  content: '';
  left: 8px;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* search  form */

#form {
  background: var(--secondary-color);
  height: 80px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  transform: translateY(-40px);
}

#form div {
  border-right: var(--background) 0.5px solid;
  height: 100%;
  margin-left: 0;
  padding: 20px;
}

#form .field {
  min-width: 300px;
}

#form .field input {
  width: 80%;
  border: none;
  padding: 10px;
  color: var(--text-color);
  background: var(--secondary-color);
}

#form .field input::placeholder {
  font-size: 16px;
  line-height: 16px;
  opacity: 50%;
  color: var(--text-color);
}

#form .checkboxDiv {
  padding: 30px;
}

.checkboxDiv input[type='checkbox'] {
  display: none;
}

.checkboxDiv input[type='checkbox'] + *::before {
  content: '';
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background: #f4f6f8;
  border-radius: 5px;
}

.checkboxDiv input[type='checkbox']:checked + *::before {
  content: '✓';
  color: white;
  text-align: center;
  background: var(--main-color);
  border-color: var(--main-color);
}

#form button {
  margin-left: auto;
  margin-right: 15px;
}

/* cards  */

.jobs-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  text-align: left;
  margin-bottom: 50px;
}
.job-card {
  height: 300px;
  max-width: 350px;
  cursor: pointer;
}

.job-card p,
.job-card h3 {
  margin: 10px 0;
}

.job-card h3 {
  color: var(--heading-text);
}

.job-card .card-content {
  background: var(--secondary-color);
  height: 250px;
  padding: 40px;
  border-radius: 5px;
}

.job-card .company-logo {
  width: 50px;
  height: 50px;

  transform: translate(20px, 25px);
}

.job-details {
  text-align: left;
  background: var(--secondary-color);
  padding: 40px 20px;
}

.job-header {
  height: 140px;
  transform: translateY(-50px);
  margin-bottom: 15px;
  background-color: var(--secondary-color);
  padding-right: 20px;
  border-radius: 5px;
}

.job-details span {
  margin-left: 5px;
}

.job-description p {
  margin: 40px 0;
}

.job-header .company-logo {
  width: 140px;
  height: 140px;
}
